@import 'tailwindcss';

.emd-container {
  align-items: center;
  background: radial-gradient(circle at 10% 20%, #00bfff 0%, transparent 40%),
  radial-gradient(circle at 90% 80%, #ff0080 0%, transparent 40%),
  radial-gradient(circle at 50% 50%, #ffa500 0%, transparent 50%);
  background-blend-mode: screen;
  display: flex;
  justify-content: center;
  height: 100vh;
  max-width: unset;
  width: 100vw;
}
